body, html {
  height: 100%;
}
.bg {
  background-image: url("../Images/backgroundImage3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Sen', sans-serif;
    font-family: 'Lora', serif;
}
.required:after {
  content:" *";
  color: red;
}
.center-container{
	background-size: 100%;
	width: 70%;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.button-color
{
	background-color:  #4285f4;
  color: white;
}
button
{
  background-color:  #4285f4;
  color: white;
}
.btn-round-lg{
  border-radius: 22.5px;
  max-width: 100px;
}
.profile_photo
{
    height: 150px;
    width: 150px;
    border: 2px solid grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 3px grey;
}
canvas
{
  background-image: url("../Images/canvasBackground.jpg");
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.bg-error-div
{
  background-color: rgba(255, 0, 0, 0.616);
}

.section-div
{
  border-radius: 25px;
}

.search-bar{
  border-radius: 25px 0px 0px 25px;
  padding-left: 30px;
}
.search-button
{
  border-radius: 0px 25px 25px 0px;
  padding: 8px 10px;
  background-color: beige;
}
a:hover{
  text-decoration: none;
}
.heading-color
{
  color: #F2AA4CFF;
}
.hidden
{
  display: none;
}

.notification-count
{
  padding: 3px 7px 3px 7px;
  background: rgba(255, 115, 0, 0.445);
  color: #000;
  border-radius: 10px;
  top: 7px;
  left: 23px;
  font-size: 10px;
}
.hr
{
  height: 1px;
}
.navFix{
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 1050;
  top: 0;
  background-color: #fff;
}
.min-height
{
  min-height: 500px;
}